div
  p Hello!
  p World!

  a(href="/contact") back to contact

div
  h1 Ocean's Eleven
  ul
    li Comedy
    li Thriller
  p.
    Danny Ocean and his eleven accomplices plan to rob
    three Las Vegas casinos simultaneously.

div(class="movie-card", id="oceans-11")
  h1(class="movie-title") Ocean's 11
  img(src="dist/public/images/favicon.png", class="movie-poster")
  ul(class="genre-list")
    li Comedy
    li Thriller