extends layout

block content
  h1 Hackathon Starter
  p.lead A boilerplate for Node.js web applications.
  hr
  .row
    .col-sm-6
      h2 Ссылки




      li
        a(href="https://www.youtube.com/")  YOUTUBE


      a(href='https://vk.com/')
        img(src='https://www.shareicon.net/data/64x64/2016/01/06/699185_logo_512x512.png')